@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0f172a;
  --color-secondary: #6b21a8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #f8fafc;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

p {
  margin: 1rem 0;
}

ul {
  list-style: none;
}
/*
h1 = 24 pixels,
h2 = 22 pixels,
h3 = 20 pixels,
h4 = 18 pixels,
h5 = 16 pixels,
h6 = 16 pixels.
*/
h1 {
    font-size: 24px;
    font-weight: bold;
}
h2 {
    font-size: 22px;
    font-weight: bold;
}
h3 {
    font-size: 20px;
    font-weight: bold;
}
h4 {
    font-size: 18px;
    font-weight: bold;
}
h5 {
    font-size: 0.83em;
    font-weight: bold;
}
h6 {
    font-size: 0.75em;
    font-weight: bold;
}

li {
  line-height: 2;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: #333;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.logos-small {
  display: none;
}

@media (max-width: 960px) {
  .logos-small {
    display: block;
    margin: auto;
  }
  .logos {
    display: none;
  }
}

@media (max-width: 500px) {
  h1,
  h2 {
    text-align: center;
  }
}
