---
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
---

<Layout>
	<Showcase
		heading="Welcome To The Astro Crash Course!"
		subtext="Build super fast HTML-first websites using your favorite JavaScript frameworks"
		showExtra
	/>
	<h1>Hello world!</h1>
</Layout>

<style>

</style>
