---


---

<div class="p-4 transition bg-white border rounded-lg shadow-sm dark:bg-slate-800 dark:border-slate-700">
    <slot />
</div>

<style>
    h3, h2, h1 {
        @apply text-slate-900;
    }
    p {
        @apply text-slate-700;
    }
</style>
