---
import logo from "../images/logo.svg";
---

<div class="px-4 py-1 text-white bg-violet-600">
  <p class="text-sm font-medium text-center">
    Love Astro? Check out this new course!

    <a class="underline" href="/alpinejs"> Learn More &rarr; </a>
  </p>
</div>
<header class="sticky top-0 w-full header bg-slate-900">
    
    <div class="container flex items-center justify-between w-full">
        <div class="logo">
            <a href="/">
                <img src={logo} class="w-[100px] md:w-[150px]" alt="" />
            </a>
        </div>
        <nav>
            <ul class="flex items-center justify-end gap-3 md:gap-4">
                <li><a href="/">Home</a></li>
                
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    .header {
        @apply py-4 md:py-6 px-2 sm:px-4 md:px-8;
    }
    a {
        @apply text-slate-100;
    }
</style>
