---
export interface Props {
    title: string;
    body: string;
    to?: any;
}

const {title, body, to} = Astro.props as Props;

---

<div class="p-4 transition bg-white border rounded-lg shadow-sm dark:bg-slate-800 dark:border-slate-700 hover:bg-slate-100 dark:hover:bg-slate-900">
    <h3 class="text-lg text-slate-900 dark:text-white">{title}</h3>
    <p class="text-slate-700 dark:text-slate-300">{body}</p>
    <a href={to} class="float-right">
        <button class="group inline-flex items-center rounded-md bg-white px-4 py-1.5 font-semibold tracking-wide text-slate-900 outline-none transition hover:text-slate-800">
            Read more
            <svg class="mt-0.5 ml-2 -mr-1 stroke-slate-900 stroke-2 group-hover:stroke-slate-800" fill="none" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
              <path class="opacity-0 transition group-hover:opacity-100" d="M0 5h7"></path>
              <path class="transition group-hover:translate-x-[3px]" d="M1 1l4 4-4 4"></path>
            </svg>
          </button>
    </a>
</div>
