---
import frameworkLogos from "../images/framework-logos.png";
import frameworkLogosSmall from "../images/framework-logos-small.png";

export interface Props {
  heading: string;
  subtext: string;
  showExtra?: boolean;
}

const { heading, subtext, showExtra = false } = Astro.props as Props;
---

<section class="bg-orange-600 showcase">
  <div class="showcase-text">
    <h1>{heading}</h1>
    <p>
      {subtext}
    </p>
  </div>

  {
    showExtra && (
      <>
        <div class="flex items-center justify-center w-full pb-10 mx-auto">
          <a href="#features">
            <button class="flex items-center justify-center gap-2 px-4 py-3 rounded-md cursor-pointer bg-violet-50">
              <span>Learn More</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5 stroke-current"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 3a.75.75 0 01.75.75v10.638l3.96-4.158a.75.75 0 111.08 1.04l-5.25 5.5a.75.75 0 01-1.08 0l-5.25-5.5a.75.75 0 111.08-1.04l3.96 4.158V3.75A.75.75 0 0110 3z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </a>
        </div>
        <div class="showcase-img">
          <img class="logos" src={frameworkLogos} alt="" />
          <img class="logos-small" src={frameworkLogosSmall} alt="" />
        </div>
      </>
    )
  }
</section>

<style>
  .showcase {
    height: auto;
    background-color: var(--color-secondary);
    background-image: linear-gradient(
      to bottom,
      var(--color-primary),
      rgb(15 23 42 / 0)
    );
    padding: 30px;
  }

  .showcase-blog {
    min-height: 300px;
  }

  .showcase-text {
    max-width: 500px;
    color: #fff;
    text-align: center;
    margin: 50px auto;
  }

  .showcase h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
  }

  .showcase p {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .showcase-img {
    text-align: center;
  }

  .showcase-img img {
    border-radius: 10px;
    margin: auto;
  }

  .showcase-demo {
    color: #fff;
    text-align: center;
    font-weight: 300;
  }
</style>
