---
import frameworkLogos from "../images/framework-logos.png";
import frameworkLogosSmall from "../images/framework-logos-small.png";

export interface Props {
  heading: string;
  subtext: string;
  showExtra?: boolean;
}

const { heading, subtext, showExtra = false } = Astro.props as Props;
---

<section class="showcase">
  <div class="showcase-text">
    <h1>{heading}</h1>
    <p>
      {subtext}
    </p>
  </div>

  {
    showExtra && (
      <>
        <div class="showcase-img">
          <img class="logos" src={frameworkLogos} alt="" />
          <img class="logos-small" src={frameworkLogosSmall} alt="" />
        </div>

        <p class="showcase-demo"></p>
        <div class="max-w-xs mx-auto text-purple-900 bg-white border-2 border-purple-900 rounded-md shadow-lg alert">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="flex-shrink-0 w-6 h-6 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
            <span>This is a fake website.</span>
          </div>
        </div>
      </>
    )
  }
</section>

<style>
  .showcase {
    height: auto;
    background-color: var(--color-secondary);
    background-image: linear-gradient(
      to bottom,
      var(--color-primary),
      rgb(15 23 42 / 0)
    );
    padding: 30px;
  }

  .showcase-blog {
    min-height: 300px;
  }

  .showcase-text {
    max-width: 500px;
    color: #fff;
    text-align: center;
    margin: 50px auto;
  }

  .showcase h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
  }

  .showcase p {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .showcase-img {
    text-align: center;
  }

  .showcase-img img {
    border-radius: 10px;
    margin: auto;
  }

  .showcase-demo {
    color: #fff;
    text-align: center;
    font-weight: 300;
  }
</style>
